%h1 重い知る
%div
  = link_to_unless !!current_user.try(:twitter), 'Sign in with Twitter', '/auth/twitter'
  %span
    Twitter ID:
    = current_user.twitter.name if current_user.try(:twitter)
%div
  = link_to_unless !!current_user.try(:withings), 'Sign in with Withings', '/auth/withings'
  %span
    Withings ID:
    = current_user.withings.name if current_user.try(:withings)

= link_to 'withings の notification を購読する', api_withings_callback_path
